@mixin header-btn{
    height: 4rem;
    width: 4rem;
    
    cursor: pointer; 
    padding: 0;
    border: none;
    background: none;  
    position: relative;
    margin-top: 6px;
    background-color: transparent;
    border-right: .5px solid black;    
    padding: 0 20px;
    line-height: 200%;    
    background-size: 100% 200%;
    -webkit-transition: background-position .3s;
    transition: all .3s;

    &:active,
    &:focus{
        border: none;
        outline: none;
    }
}